.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 2fr;
  max-height: -webkit-fill-available;
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 100%;
  border-left: var(--border-width) solid var(--border-color);
  border-right: var(--border-width) solid var(--border-color);
}
