.container {
  position: fixed;
  width: 100%;
  top: 0;
  height: fit-content;
  z-index: 99;

  display: grid;
  grid-template-columns: 1fr;
  border: var(--border-width) solid var(--border-color);

  background-color: #fff;
}
