.container {
    cursor: pointer;
    z-index: 2;
}

.textBoxContainer {
    background: var(--color-transparent-black);
    color: var(--color-white);
    padding: var(--locations-map-marker-text-box-padding);
}
