@import url("./fonts.css");

:root {
  --color-pink: #d1acd0;
  --color-green: #1a3f2b;

  --border-width: 2px;
  --border-color: #000;

  --info-border-width: 2px;
  --info-border-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Denim", sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.3;
  scroll-behavior: smooth;
  font-size: calc(1em + 0.5vmin);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  padding-bottom: 1rem;
}

img {
  width: 100%;
}
