.mapboxgl-map,
.maplibregl-map {
  -webkit-tap-highlight-color: rgb(0 0 0/0);
  font: 12px/20px Denim, Helvetica Neue, Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
}

.mapboxgl-canvas,
.maplibregl-canvas {
  left: 0;
  position: absolute;
  top: 0;
}
.mapboxgl-map:fullscreen,
.maplibregl-map:fullscreen {
  height: 100%;
  width: 100%;
}
.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass,
.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass {
  cursor: grab;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-track-pointer,
.maplibregl-canvas-container.maplibregl-interactive.maplibregl-track-pointer {
  cursor: pointer;
}
.mapboxgl-canvas-container.mapboxgl-interactive:active,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass:active,
.maplibregl-canvas-container.maplibregl-interactive:active,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass:active {
  cursor: grabbing;
}
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate .mapboxgl-canvas,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate .maplibregl-canvas {
  touch-action: pan-x pan-y;
}
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan .mapboxgl-canvas,
.maplibregl-canvas-container.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-drag-pan .maplibregl-canvas {
  touch-action: pinch-zoom;
}
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan
  .maplibregl-canvas {
  touch-action: none;
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right,
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right,
.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right {
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.mapboxgl-ctrl-bottom-right,
.maplibregl-ctrl-bottom-right {
  bottom: 0;
  right: 0;
}

.mapboxgl-ctrl,
.maplibregl-ctrl {
  clear: both;
  pointer-events: auto;
  transform: translate(0);
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl,
.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  float: right;
  margin: 0 10px 10px 0;
}

.mapboxgl-popup,
.maplibregl-popup {
  display: flex;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  will-change: transform;
}

.mapboxgl-marker,
.maplibregl-marker {
  left: 0;
  position: absolute;
  top: 0;
  will-change: transform;
}
.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib.mapboxgl-compact:after,
.maplibregl-ctrl-bottom-right
> .maplibregl-ctrl-attrib.maplibregl-compact:after {
  bottom: 0;
  right: 0;
}

.mapboxgl-ctrl-attrib-button,
.maplibregl-ctrl-attrib-button {
  background-color: hsla(0, 0%, 100%, 0.5);
  /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd'%3E%3Cpath d='M4 10a6 6 0 1 0 12 0 6 6 0 1 0-12 0m5-3a1 1 0 1 0 2 0 1 1 0 1 0-2 0m0 3a1 1 0 1 1 2 0v3a1 1 0 1 1-2 0'/%3E%3C/svg%3E");*/
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 24px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact-show .mapboxgl-ctrl-attrib-button,
.maplibregl-ctrl-attrib.maplibregl-compact-show,
.maplibregl-ctrl-attrib-button {
  background: rgba(255, 255, 255, 0);
}

.maplibregl-ctrl-attrib-inner,
.mapboxgl-ctrl-attrib-inner > a {
  display: none;
}
