.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bottomRow {
  margin-top: -7vw;
}

.svgTop {
  width: 100vw;
}

.svgBottom {
  width: 100vw;
  margin-right: -40vw;
}

.svgText {
  font-family: "Gabriella";
  fill: none;
  stroke: #fff;
  stroke-width: 0.1%;
}

.svgTextL {
  font-size: 62px
}

.svgTextM {
  font-size: 37px
}


.svgText:hover {
  fill: #fff;
}
