.floorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    padding: 0.1rem 0.3rem;

    border: calc(0.5 * var(--border-width)) solid var(--border-color);

    cursor: pointer;
}

.floorContainer:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.floorSelected {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.emptyFloorContainer {
    flex-grow: 10;
    border: calc(0.5 * var(--border-width)) solid var(--border-color);
}
