.floorsContainer {
    display: flex;
    flex-wrap: wrap;

    width: var(--locations-map-popup-ground-plan-height);
    min-width: var(--locations-map-popup-ground-plan-height);
    max-width: var(--locations-map-popup-ground-plan-height);

    border: calc(0.5 * var(--border-width)) solid var(--border-color);
    background: var(--color-white);
}

.floorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    padding: 0.1rem;

    border: calc(0.5 * var(--border-width)) solid var(--border-color);

    cursor: pointer;
}

.floorContainer:hover {
    background-color: var(--color-pink);
    color: var(--color-white);

    border-top: 0;
    border-right: 0;
    border-bottom: calc(var(--border-width)) solid var(--border-color);
    border-left: calc(var(--border-width)) solid var(--border-color);
}

.floorSelected {
    background-color: var(--color-pink);
    color: var(--color-white);

    border-top: 0;
    border-right: 0;
    border-bottom: calc(var(--border-width)) solid var(--border-color);
    border-left: calc(var(--border-width)) solid var(--border-color);
}

.emptyFloorContainer {
    flex-grow: 10;
    border: calc(0.5 * var(--border-width)) solid var(--border-color);
}
