.roomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    padding: 0.1rem;

    border-top: calc(0.5 * var(--border-width)) solid var(--border-color);
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: calc(0.5 * var(--border-width)) solid var(--border-color);
    border-left: var(--border-width) solid var(--border-color);

    cursor: pointer;
}

.roomContainer:nth-child(1) {
    border-top: 0 !important;
}

.roomContainer:nth-last-child(1) {
    border-bottom: var(--border-width) solid var(--border-color);
}

.roomContainer:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.roomSelected {
    background-color: var(--color-pink);
    color: var(--color-white);
}
